<!DOCTYPE html>
<html>
<head>
	<title>GBP - 1D Surface Estimation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="./../css/style.css">
</head>

<body>

	<canvas id="canvas_1d" width="1100" height="640"></canvas>

	<div class="center">
		<p><font size="5">Click on the canvas to add measurements</font></p>

		<input type="button" class="button" id="sync_1d">
		<input type="button" class="button" id="sweep_1d">
		<input type="button" class="button" id="map_1d">

		<p><br>Use this slider to set the standard deviation of the Gaussian measurement model.</p>
		<div class="slidecontainer">
		  <input type="range" min="1" max="100" value="50" class="slider" id="meas_model_std_1d">
		  <!-- <p id="mmstd"></p> -->
		</div>

		<p>Use this slider to set the standard deviation of the smoothness factors.</p>
		<div class="slidecontainer">
		  <input type="range" min="1" max="100" value="50" class="slider" id="smoothness_std_1d">
		  <!-- <p id="sstd"></p> -->
		</div>

		<p>Use this slider to set number of iterations of GBP per second (for synchronous schedule.</p>
		<div class="slidecontainer">
		  <input type="range" min="1" max="50" value="25" class="slider" id="iters_per_sec_1d">
		  <p id="fps_1d"></p>
		</div>

	</div>

	<script type="text/javascript" src="./../js/bundles/1dgbp.js"></script>

</body>
</html>
